{% assign listed_posts_urls = page.url | split: ' ' %}
{% capture related_post_items %}
  {% for tag in page.tags %}
    {% for mypost in site.tags[tag] limit:3 %}
      {% unless listed_posts_urls contains mypost.url %}
        <li>
          <h3><a href="{{ mypost.url | relative_url }}">{{ mypost.title }}</a></h3>
        </li>
        {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
{% endcapture %}
{% assign related_post_items = related_post_items | strip %}
{% if related_post_items != '' %}
  <div class="related">
    <h1>{{ site.data.settings.related_posts }}</h1>
    <ul class="related-posts">
      {{ related_post_items }}
    </ul>
  </div>
{% endif %}
